@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}body{
    margin: 0px;
    background-image: url(Images/bg.jpg);
    background-size: cover;
    background-position: center;
}
.header {
    position: fixed;
    background-color: #b09f95;
    height: 100px;
    width: 100%;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    z-index: 10;
}
.header img{
    width: 200px;
    height: 200px;
    margin-right: 800px;
}
.header a{
    margin-right: 20px;
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 10px;
}
.header a:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.header a:hover{
    color: white;
}
.header a:hover:after{
    width: 100%;
}

/*----------Body----------*/
.container h1{
    padding-top: 150px;
    padding: 15px 10 px 15 px 20px;
    text-align: center;
    color: #f1f1f1;
}

.line-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    width: 100%;
    height: 2px;
    background-color: #a3aeb1;
}

.row .one{
    padding: 10px;
    margin: 10px;
    color: #f1f1f1;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.column{
    flex: calc((100% - 80px)/4);
    padding: 10px;
    background-color: #53655c;
    margin: 10px;
    color: #f1f1f1;
    opacity: 1;
}

.column img{
    width: 100%;
    float: left;
}

.card{
    padding: 16px;
    text-align: left;
    background-color: #53655c;
    float: left;
}


.title{
    color:#f1f1f1;
}

.email{
    font-style: italic;
}
.vertical{
    padding: 16px;
    text-align: left;
    margin: 10px;
}

.vertical img{
    margin-left: 14%;
    width: 70%;

}

.vertical p{
    padding: 10px;
    color: #f1f1f1;
}

@media screen and (max-width:900px) {
.column{
    flex: calc((100% - 40px)/2);
}

}

@media screen and (max-width: 600px) {
    .column{
        flex:100%;
    }
}

.column img:hover{
  transform: scale(1.025);
  transition: ease-in-out 200ms;
  cursor: pointer;
      z-index: -10;

}

button{
    color: #53655c;
    position: relative;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 30px;
    background: white;
    font-size: 12px;
    cursor: pointer;
    transition: 1s;
    overflow: hidden;
}
.btn::before{
     content: '';
     position: absolute;
     left:0;
     width: 100%;
     height: 100%;
     z-index: -1;
     transition: 1s;
}
.btn.btn1::before{
     bottom: 0;
     border-radius: 50% 50% 0 0;
 
}
.btn:hover{
    background-color:hsl(0, 0%, 19%);
    transition: ease-in 50ms;
  
}


.ref{
     color: #53655c;
     text-decoration: none;
     font-weight: bold;
     animation: color 5s infinite;
     size: 50vh
}
.btn1 {
    margin-top: 95px;

}
.btn2{
    margin-top: 39px;

}
.btn3{
    margin-top: 50px;

}
.btn4{
    margin-top: 17px;

}
.btn5{
    margin-left: 650px;
    margin-top: 20px;
    width: 200px;

}

/*----------Footer HTML----------*/
footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background: #b09f95;
    color: white;
    padding: 50px 0 30px;
    font-size: 13px;
    line-height: 25px;
}
footer h3{
    padding-bottom: 10px;
}
.aboutp{
    font-size: 9px;
}
.botrow{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap:wrap ;
    align-items: flex-start;
    justify-content: space-between;
}
.botcol{
    flex-basis: 300px;
    padding: 10px;
}
.botcol .botInfo div{
    display: flex;
    align-items: center;
}
.botcol .botInfo div span{
    min-width: 35px;
    height: 35px;
    color:  white;
    background: #22252b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 15px;
}
.botcol .botInfo div p{
    color: white;
    font-size: 1.1em;
}
.botcol .botInfo div a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: all 0.3s ease;
}
.botcol .botInfo div a:hover{
    color: #22252b;
    padding-left: 10px;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
.botcol ul li a{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}
.botcol ul li a:hover{
    color: #22252b;
    padding-left: 10px;
}
.social{
    margin-top: 10px;
    display: flex;
}
.social li{
    list-style: none;
    margin-right: 15px;
    padding-left: 5px;
}
.social li a{
    color: #22252b;
    font-size: 3em;
    color: white;
}
.social li a:hover{
    color: #22252b;
}
.copyright{
    margin-top: 50px;
    margin-left: 430px;
}
.card{animation-name: outer;
 
animation-duration: 3s;}
.column{animation-name: outer;

    animation-duration: 3s;}
    .line{animation-name: line;
        animation-duration: 3s;
  }

@keyframes outer{
    0%{opacity: 0;}

    100%{opacity: 1;}
}
@keyframes line{
    0%{width: 0%;}
    100%{width: 100%;}
}